
.banner {
    height: 200px;
    display: flex;
    position: relative;
    margin: 60px 0;
}

.banner .scopes {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.banner .scopes .scope {
    width: 40%;
    background: hsl(270, 100%, 87%);
    color: white;
    font-size: 140px;
    font-family: Helvetica Neue;
    font-weight: Lighter;
    text-align: center;
}

.banner .stages {
    position: absolute;
    width: 100%;
    display: flex;
    bottom: 0;
    justify-content: space-around;
    font-size: 32px;
    font-family: Futura;
    line-height: 1.6em;
}
.banner .stages .stage {
    background: rebeccapurple;
    color: white;
    width: 190px;
    text-align: center;
}

.banner .arrow {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 113%;
    opacity: 0.2;
}
.banner .arrow .arrow-body {
    height: 8px;
    background: hsla(0, 0%, 0%, 1);
    width: 80%;
}
.banner .arrow .arrow-head {
    border-top: 10px solid hsla(0, 0%, 0%, 0);
    border-right: 0px solid hsla(0, 0%, 0%, 0);
    border-bottom: 10px solid hsla(0, 0%, 0%, 0);
    border-left: 40px solid hsla(0, 0%, 0%, 1);
}
